@import "tailwindcss";

@theme {
    --color-*: initial;

    /* Primary */
    --color-primary: #F1E9E9; /* Background */
    --color-secundary: #982598; /* Titulos */
    --color-text: #E491C9; /* Hover suave */
    --color-icon: #15173D; /* Negro icons */
    
}

:root {
    --color-primary: #F1E9E9;
    --color-secundary: #982598;
    --color-text: #E491C9;
    --color-icon: #15173D;
}

body {
    background-color: var(--color-primary);
}

/* NAVBAR */

.nav-btn {
    color: var(--color-secundary);
    font-size: 22px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.nav-btn::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    transition: width 0.3s;
}

.nav-btn:hover::after {
    width: 100%;
    background-color: var(--color-secundary);
}

.nav-plan {
    font-size: 22px;
}

.nav-plan:hover {
    background-color: var(--color-text);
    transition: 0.3s ease;
}

/* MAIN */






